{% extends 'accounts/dashboard.html' %}
{% block title %}Order List{% endblock title %}
{% load mathfilters %}
{% block dashboard_content %}
{% if order_qs %}
<div class="order_list mt-3">
	<h1>Order List</h1>
	<table class="table table-bordered table-head-bg-success table-bordered-bd-danger">
	<thead>
		<tr>
			<th scope="col">Order Id</th>
			<th scope="col">Order Provider</th>
			<th scope="col">Customer Name</th>
			<th scope="col">Product List</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for order in order_qs %}
		<tr>
		<td>{{ forloop.counter }}</td>
		<td>
			<a href="{% url 'orders:detail' order.id %}">{{ order.creator }}</a> ({% if order.creator.is_owner %}Owner{% else %}Employee{% endif %})
		</td>
		<td>{{ order.customer.name }}</td>
		<td>
			{% for order_product in order.order_products.all %}
				<small>{{ order_product.product }}={{ order_product.quantity }} {{ order_product.product.stock.stock_type }}</small><br>
			{% empty %}
				product not found
			{% endfor %}
		</td>
		<td>
			{% if perms.orders.delete_order %}
				{% if order.owner.user == request.user or order.creator == request.user %}
			<button type="button" class="btn btn-link order-delete-btn" data-url="{% url 'orders:delete' order.id %}" data-toggle="modal" data-target="#orderDeleteModal">
			  Delete
			</button>
				{% endif %}
			{% endif %}

			{% if perms.orders.change_order %}
				{% if order.owner.user == request.user or order.creator == request.user %}
			<a href="{% url 'orders:update' order.id %}" class="btn btn-link order-update-btn" >Edit</a>
				{% endif %}
			{% endif %}
		</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
<!-- Order delete Modal -->
<div class="modal fade" id="orderDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="order-delete-modal-content">
    </div>
  </div>
</div>
{% else %}
	<h3 class="text-muted text-center mt-5">Sorry you have not any order</h3>
{% endif %}
{% endblock dashboard_content %}