{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Owner Registration {% endblock title %}

{% block content %}
    <div class="owner-register mt-4">
        <div class="card m-auto" style="width: 25rem;">
            <div class="card-body ml-3">
                <!-- Error messages show -->
                <div class="register-error"></div>

                <!-- register form  -->
                <form action="{% url 'accounts:owner-register' %}" method='post' class="owner-register">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ o_r_form|crispy }}
                    <input type="submit" class='btn btn-primary' value='SignUp'>
                    <p><small>Have an owner account? <a href="{% url 'accounts:login' %}">Sign In</a>  </small></p>
                </form>
            </div>
          </div>
    </div><br><br>

    
{% endblock content %}









