{% extends 'accounts/dashboard.html' %}
{% block title %}Profile{% endblock title %}

{% block dashboard_content %}
<div class="profile">
    <div class="card m-auto" style="width: 40rem;">
        <div class="card-body">
            <div class="row">
                {% if request.user.is_owner %}
                <div class="col-md-8">
                    <span style="font-weight: 600; font-size: 25px;font-family: 'Sriracha', cursive;">{{ request.user.username}}</span><br>
                    {% if request.user.email %}
                        <small>{{ request.user.email }}</small>
                    {% endif %}
                    <small>Owner</small>
                </div>
                <div class="col-md-4">
                    <img src="{{ request.user.owner.profile_photo.url }}" alt="..." class="img-thumbnail">
                </div>
                {% else %}
                <div class="col-md-8">
                    <span style="font-weight: 600; font-size: 25px;font-family: 'Sriracha', cursive;">{{ request.user.username}}</span><br>
                    {% if request.user.email %}
                        <small>{{ request.user.email }}</small>
                    {% endif %}
                    <small>Employee</small>
                </div>
                <div class="col-md-4">
                    <img src="{{ request.user.employee.profile_photo }}" alt="..." class="img-thumbnail">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_content %}

