/*general*/

   /* ======modal====
    background-color: #F4FCFE;

    =====h1-header====
    font-family: 'Courgette', cursive;
    color: #0392FA;

    ===button===
    font-family: 'Sriracha', cursive; 

    */

*{
    margin: 0;
    padding: 0;
}
.btn{
    font-family: 'Sriracha', cursive;
}
h5, h2{
   font-family: 'Sriracha', cursive;
}
/*password checker*/
#week, #strong, #hard{
    height: 5px;
    width: 60px;
    background: #e0e3d7;
    border-radius: 5px;
    margin-left: -11px;
}
#hard{
    margin-left: -42px;
}

/*form general*/
#email, #id_password1, #username, #id_password2, #login-password, #id_mobile_number, #id_date_of_birth, .shop-name, .product-title, .product-price, .product-stock-quantity{
    width: 265px;
    box-shadow: 0 0 4px white;
    border-radius: 4px;
    border: 1px solid #F2F4F4;
    height: 30px;
    line-height: 0px;
    margin: 0;
}
#image, #id_profile_photo, #id_gender, .shop-address, .shop-image, .product-image, .product-stock-type, .product-shop-select{
    width: 265px;
    box-shadow: 0 0 4px white;
    border-radius: 4px;
    border: 1px solid #F2F4F4;
    height: 40px;
    margin: 0;
}
#email:focus, #username:focus, #login-password:focus, #id_password2:focus, #id_password1:focus, #id_mobile_number:focus, #id_date_of_birth:focus, #id_gender:focus, .shop-name:focus, .shop-address:focus{
    box-shadow: 0 0 4px #E4AF2C;
    border: 1px solid #8E44AD;
}
#email:blur, #username:blur, #login-password:blur, #id_password2:blur, #id_password1:blur, #id_mobile_number:blur, #id_date_of_birth:blur, #id_gender:blur{
    box-shadow: 0 0 4px white;
    border: 1px solid #bdbfb9;
}

/*Employee */
#create-modal-content{
    width: 50rem;
    margin-left: -145px;
    background-color: #F4FCFE;
}
#create-modal-header{
    margin-right: -400px;
    font-family: 'Courgette', cursive;
    color: #0392FA;
}
.update-modal-content{
    width: 43rem;
    margin-left: -90px;
    margin-top: 60px;
    background: #F4FCFE;
} 
#update-modal-header{
    margin-right: -400px;
    font-family: 'Courgette', cursive;
    color: #0392FA;
}
.delete-modal-content{
    margin-top: 130px;
}
.delete-button{
    margin-top: 40px;
    margin-left: 120px;
}
.delete-object-content{
    margin-left: 80px;
}

/*shop */
    .shop-header{
        font-family: 'Courgette', cursive;
        color: #0392FA;
        text-align: center;
        margin-left: -45px;
    }
    .shop-description{
        width: 270px;
    }
    #shop-create-modal-content{
        width: 400px;
        background-color: #FEEFEF;
        margin-top: 80px;
        margin-left: 50px;
    }
    /*shop detail*/
    .shop-detail-title{
       font-size: 20px;
       font-weight: 700;
    }
    .shop-detail-title-address{
        line-height: 18px;
        font-family: 'Sriracha', cursive;
    }
    .shop-detail-owner{
        font-size: 15px;
    }
    .shop-detail-description{
        color: grey;
        line-height: 17px;
        margin-top: 13px;
    }
    .shop-detail-product-list-title{
        text-decoration: none;
        color:grey;
        font-weight: 500;
        font-family: 'Sriracha', cursive;
    }
    #shop-update-modal-header{
        font-family: 'Sriracha', cursive;
        margin-left: 90px;
        color: #0392FA;;
    }


/*product */
.product-create-header{
    font-family: 'Courgette', cursive;
    color: #0392FA;
    text-align: center;
    margin-left: -45px;
}
.product-description{
    width: 270px;
}
.product-detail-title{
    font-family: 'Courgette', cursive;
    font-weight: 650;
}
.product-detail-price{
    font-family: 'Courgette', cursive;
    font-weight: 500;
}
.product-detail-stock{
    font-family: 'Courgette', cursive;
    font-weight: 500;
}
.product-detail-shop{
    font-family: 'Courgette', cursive;
    font-weight: 500;
}





