<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SHOP HOME{% endblock title %}</title>
    <!-- css link  -->
    {% include 'base/css.html' %}
</head>
<body>
    <!-- content section  -->
    <div class="">
        {% block content %}{% endblock content %}
    </div>
    <!-- javascript link  -->
    {% include 'base/js.html' %}
    
</body>
</html>