{% extends 'accounts/dashboard.html' %}
{% block title %}Employee Create{% endblock title %}
{% load crispy_forms_tags %}

{% block dashboard_content %}
<div class="employee mt-4 mb-4">
    <div class="card m-auto" style="width: 37rem;">
        <div class="card-body ml-5">
            <h1 style="margin-left:80px;margin-bottom:30px;font-family: 'Courgette', cursive;color: #0392FA;">Employee Registration</h1>
            <form action="{% url 'employees:create' %}" method='POST' enctype='multipart/form-data' id="employee-registered">
                {% csrf_token %}
                {{ form|crispy }}
                {{ employee_form|crispy }}
                <br>
                <input type="submit" value="Add Employee" class="btn btn-primary">
            </form>
        </div>
      </div>
</div>
{% endblock dashboard_content %}






