{% extends 'accounts/dashboard.html' %}
{% block title %}Employee Create{% endblock title %}
{% load crispy_forms_tags %}
{% block dashboard_content %}
<div class="employee mt-3">
    <div class="card m-auto col-md-6">
        <div class="card-body ml-2">
            <div class="no-bd mb-5">
                <h1 id="create-employee-header" style="text-align:center;">Employee Registration</h1>
            </div>
            <form action="{% url 'employees:create' %}" method='POST' enctype='multipart/form-data' id="employee-registered">
                {% csrf_token %}
                {{ form|crispy }}
                {{ employee_form|crispy }}
                <br>
                <input type="submit" value="Register Employee" class="btn btn-outline-danger">
            </form>
        </div>
      </div>
</div>
{% endblock dashboard_content %}