{% extends 'accounts/dashboard.html' %}
{% block title %}Employee Create{% endblock title %}
{% load crispy_forms_tags %}
{% block dashboard_content %}
<div class="employee mt-4 mb-4">
    <div class="card m-auto" style="width: 37rem;">
        <div class="card-body ml-5">
            <h1>Employee Update</h1><hr>
            <form action="{% url 'employees:update' id=object.id %}" method="post" enctype="multipart/form-data" id="employee-registered">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ employee_form|crispy }}
                <br>
                <input type="submit" value="Edit Employee" class="btn btn-primary">
            </form>
        </div>
      </div>
</div>
{% endblock dashboard_content %}