{% extends 'accounts/dashboard.html' %}
{% block title %}Employee List {% endblock title %}
{% load crispy_forms_tags %}
{% block dashboard_content %}
<!-- Employee Create Button -->
<div class="d-flex">
	<button class="btn btn-warning btn-round ml-auto mb-3" data-toggle="modal" data-target="#employeeCreate">
		<i class="fa fa-plus"></i>
		Add Employee
	</button>
</div>
<!-- Employee Create Modal -->
<div class="modal fade" id="employeeCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="create-modal-content">
			<div class="modal-header no-bd">
                <span class="fw-light m-auto">
                    <h1 id="create-modal-header">Employee Registration</h1>
				</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body ml-2">
			<!-- success messages  -->
			<div id="emp-register-success-msg" ></div>
			<!-- error messages  -->
			<div id="emp-modal-error" style="color: red;">
				<p id="emp-modal-error-username"></p>
				<p id="emp-modal-error-date_of_birth"></p>
				<p id="emp-modal-error-pass1"></p>
				<p id="emp-modal-error-pass2"></p>
				<p id="emp-modal-error-pass3"></p>
				<p id="emp-modal-error-pass4"></p>
			</div>
            <form action="{% url 'employees:create' %}" method='POST' enctype="multipart/form-data" id="employee-registered-modal-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form|crispy }}
                    </div>
                    <div class="col-md-6">
                        {{ employee_form|crispy }}
                    </div>
                </div>
                <br>
                <div class="modal-footer no-bd">
                    <button type="submit" id="addRowButton" class="btn btn-outline-danger">Register Employee</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
			</div>
		</div>
	</div>
</div>
<!-- Employee table  -->
<div class="row">
	<div class="col-xs-8">
		<table class="table table-bordered table-head-bg-danger table-bordered-bd-info" id="employee-table">
			<thead>
				<tr>
					<th scope="col">S.L</th>
					<th scope="col">Employee Name</th>
					<th scope="col">Mobile Number</th>
		            <th scope="col">Gender</th>
		            <th scope="col" class="d-none d-md-block">Permission</th>
		            <th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
					{% for emp in page_obj.object_list %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ emp.user.username }}</td>
					<td>{{ emp.mobile_number }}</td>
		            <td>{{ emp.gender }}</td>
		            <td class="d-none d-md-block">
			            {% for permission in emp.user.get_user_permissions %}
			            	{{ permission }} <span style="color: red;">{% if not forloop.last %}|{% endif %}</span>
							{% if forloop.counter|divisibleby:3 %}
							<br>
							{% endif %}
			            {% endfor %}
		        	</td>
		            <td> 
						<button type="button" class="btn btn-link update-employee" data-toggle="modal" data-target="#employeeUpdateModal" data-url="{% url 'employees:update' id=emp.id %}">
						  <i class="fa fa-edit"></i>
						</button>
						<button type="button" data-url="{% url 'employees:delete' id=emp.id %}"class="btn btn-link delete-employee" data-toggle="modal" data-target="#employeeDeleteModal">
		  					<i class="fas fa-trash-alt"></i>
						</button>
		            </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!-- Employee Update Modal -->
<div class="modal fade" id="employeeUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content update-modal-content">
    </div>
  </div>
</div>
<!-- Employee Delete Modal -->
<div class="modal fade" id="employeeDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content delete-modal-content">
    </div>
  </div>
</div>
<!-- paginator  -->
<nav aria-label="...">
	<ul class="pagination mb-0">
		<li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
			<a class="page-link" href="?page=1">First</a>
		</li>
		<li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
			<a class="page-link" href="?page={{ page_obj.start_index|add:-1 }}">Previous</a>
		</li>
		{% for num in page_obj.paginator.page_range %} 
		{% if page_obj.number == num %}
		<li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
		{% elif num > page_obj.number|add:"-3" and  num < page_obj.number|add:"3" %}
		<li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
		{% endif %}
		{% endfor %}
		<li class="page-item {% if not page_obj.has_next %}disabled{% endif %} ">
			<a class="page-link" href="?page={{ page_obj.start_index|add:1 }}">next</a>
		</li>
		<li class="page-item {% if  page_obj.paginator.num_pages ==  page_obj.start_index %}disabled{% endif %}">
			<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
		</li>
	</ul>
</nav>
<script>
     empListUrl = "{% url 'employees:list' %}"
</script>
{% endblock dashboard_content %}
