{% load widget_tweaks %}
<div class="shop-update">
    <div class="modal-header no-bd">
        <span class="fw-light m-auto">
            <h1 id="create-modal-header">Shop Update</h1>
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="shop-update-modal-error ml-2" style="color: red;"></div>
    <form class="shop-update-form mr-2 ml-4" action="{% url 'shops:update' id=shop.id %}" enctype="multipart/form-data">
        <div class="modal-body">
            <div class="shop-update-name-section mb-3">
                <label for="{{ shop_update_form.name.label }}">{{ shop_update_form.name.label }}</label>
                {% render_field shop_update_form.name class="form-control shop-name" placeholder=shop_update_form.name.label %}
            </div>
            <div class="shop-update-address-section mb-3">
                <label for="{{ shop_update_form.address.label }}">{{ shop_update_form.address.label }}</label>
                {% render_field shop_update_form.address class="form-control shop-address" placeholder=shop_update_form.address.label %}
            </div>
            <div class="shop-update-description-section mb-3">
                <label for="{{ shop_update_form.description.label }}">{{ shop_update_form.description.label }}</label>
                {% render_field shop_update_form.description class="form-control shop-description" placeholder=shop_update_form.description.label rows="4" %}
            </div>
            <div class="shop-update-image-section mb-3">
                <label for="{{ shop_update_form.image.label }}">{{ shop_update_form.image.label }}</label>
                {% render_field shop_update_form.image class="form-control shop-image" placeholder=shop_update_form.image.label %}
            </div>
        </div>
        <div class="shop-update-btn mb-5">
            <button type="submit" class="btn btn-primary">Update Shop</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>