{% extends 'accounts/dashboard.html' %}
{% block title %}Employee Create{% endblock title %}
{% load widget_tweaks %}
{% block dashboard_content %}
<div class="shop mt-4 mb-4">
    <div class="card m-auto" style="width: 25rem;">
        <div class="card-body ml-5">
            <h1 class="shop-header mb-5">Shop Create</h1>
            <div class="shop-create-error mb-3" style="color: red;"></div>
            <form action="{% url 'shops:create' %}" method='POST' id="shop-create-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="shop-name-section">
                    <label for="{{ shop_form.name.label }}">{{ shop_form.name.label }}*</label>
                    {% render_field shop_form.name class="form-control shop-name" placeholder=shop_form.name.label %}
                </div>
                <div class="shop-address-section mt-3">
                    <label for="{{ shop_form.address.label }}">{{ shop_form.address.label }}*</label>
                    {% render_field shop_form.address class="form-control shop-address" placeholder=shop_form.address.label %}
                </div>
                <div class="shop-description-section mt-3">
                    <label for="{{ shop_form.description.label }}">{{ shop_form.description.label }}*</label>
                    {% render_field shop_form.description class="form-control shop-description" placeholder=shop_form.description.label rows="4" %}
                </div>
                <div class="shop-image-section mt-3">
                    <label for="{{ shop_form.image.label }}">{{ shop_form.image.label }}*</label>
                    {% render_field shop_form.image class="form-control shop-image" %}
                </div>
                <br>
                <input type="submit" value="Create" class="btn btn-outline-warning shop-btn">
            </form>
        </div>
      </div>
</div>

<script type="text/javascript">
    shopCreateUrl = "{% url 'shops:create' %}"
    shopListUrl = "{% url 'shops:list' %}"
</script>
{% endblock dashboard_content %}






