{% extends 'accounts/dashboard.html' %}
{% block title %}Shop Products{% endblock title %}
{% block dashboard_content %}
<!-- badge -->
<a href="{% url 'shops:detail' shop_object.id %}" class="badge badge-count">Back to {{ shop_object.name }}</a>
<div class="row justify-content-center">
    {% for product in  shop_product %}
    <div class="col-md-3 mb-3">
        <div class="card m-auto">
           <a href="{% url 'products:detail' product.id %}"><img src="{{ product.image.url }}" alt="..." class="img-thumbnail"></a> 
            <div class="card-body">
                <div class="product-list-title text-center">
                    <a href="{% url 'products:detail' product.id %}"><h2 class="shop-detail-product-list-title text-center">{{ product.title }}</h2></a>
                    <span>TK. {{ product.price|floatformat }}</span>
                    <p>Stock. {{ product.stock.stock_quantity|floatformat }} {{ product.stock.stock_type }}</p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>This shop has no product</p>
    {% endfor %}
</div>
<script type="text/javascript">
  shopProductListUrl = "{% url 'shops:shop-products' shop_object.id %}"
</script>
{% endblock dashboard_content %}